[Unit]
Description=n8n startup service
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/n8n-docker

ExecStartPre=/home/ubuntu/n8n-docker/start-n8n.sh
ExecStart=/usr/bin/docker start -a n8n-docker-n8n-1
ExecStop=/usr/bin/docker stop n8n-docker-n8n-1
Restart=always

[Install]
WantedBy=multi-user.target
